body {font-family: Verdana, sans-serif;}
.mySlides {display: none}

/* strip containing all the experience to extend white bkgrd to screen width */
.exp-strip{
	background:#F8F8F8;
	left:0;
	right:0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 40vw;
  position: relative;
  margin: auto;
  background:#F8F8F8;
}

.indicator-container{
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  background-color:black;
  text-align:center;
  align-items: center;
  justify-content: center;
  padding:0.3vw;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  color:white;
  transition: background-color 1s ease;
  border-style: solid;
  border-color: white;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .text {font-size: 11px}

/* On smaller screens, make indicator container to column */

.slideshow-container {
  max-width: 90vw;
}
  .indicator-container {
    flex-direction: column;
	margin: auto;
  }

}
@media only screen and (min-width: 800px) {
	.dot:hover {
    width:10vw;
  }
  	.dot {
    width:10vw;
  }
}