 /* Style inputs with type="text", select elements and textareas */

 input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   /* Rounded borders */
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
 }

 /* Style the submit button with a specific background color*/

 input[type=button] {
   background-color: rgb(66, 119, 131);
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 input[type=button]:hover {
   background-color: rgba(66, 119, 131, 0.8);
 }

 /* Add a background color and some padding around the form */

 .contact-form-container {
   border-radius: 5px;
   background-color: rgb(222, 222, 228);
   color: black;
   padding: 20px;
 }

 /* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
#close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}