html, body {
  height: 100%;
  margin: 0
}

/* animation zoom in */

@keyframes breath {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 110% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

/* div image container */

.top-img {
  margin: auto;
  width: 90vw;
  height: 95vh;
  animation: breath 10s linear infinite;
  background: url("../img/top-img.JPG") center center no-repeat;
  text-align: center;
  font-size: max(2.6vw, 25px);
}

/* text within the image container */

.top-img h1 {
  position: absolute;
  text-align: center;
  top: 10%;
  margin: 0;
  font-size: 0.8em;
  color: #C0C0C0;
}

/* change the div hight to 50% of screen when it's too small */
@media screen and (max-width: 960px) {
  .top-img {
    height: 50vh;
  }
}

/* text face in duration */

.top-text {
  --animate-duration: 5s;
}