html {
    scroll-behavior: smooth;
  }  

#custom-navbar {
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 109, 150,0.7);
    overflow: hidden;
    top: 5%;
    right: 5%;
    width: 100px;
}

.navbar-item {
    color:white;
    text-align: center;
    padding: 23px 0;
    font-size: 15px;
    cursor: pointer;
    height: 70px;
    width: 100px;
    text-decoration: none;

}

.navbar-item:hover {
    color: #1d202a;
    text-decoration: none;
}

.active{
    background-color: rgba(47, 109, 150, 0.95);
    color: white;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
  }